/* DOCUMENTO CSS */

/*RESET CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    min-height: 700px;
    padding: 20px;
    background-color: #b0c4de;
}

#postagem {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}
/* caixa da */
.boxpost {
    width: 300px;
    height: 300px;
    background-color: #3065ac;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    color: white;
    margin: 10px;
}

.excluir {
    color: aliceblue;
}

footer {
    height: 50px;
    background-color: #3065ac;
    font-size: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 120px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#login {
    margin: auto;
    height: auto;
    width: 350px;
    text-align: center;
    margin-top: 50px;
    padding: 1%;
    border-radius: 5px;
    border: 8px solid #3065ac;
}
#login input{
    border-radius: 4px;
}
#login input[type=submit]{
    background-color: #3065ac;
    border-radius: 7px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #ffffff;
    cursor: pointer;
    display:inline-block;
    font-family: Arial, sans-serif;
    height: 35px;
    padding: 0 12px;
    transition: all 200ms;
    
}
#login input[type=submit]:hover{
    background-color: #b0c4de;
    transform: scale(1.05);
}


.btn-padrao[type=button]{
    background-color: #b0c4de;
    border-radius: 7px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #000000;
    cursor: pointer;
    display:inline-block;
    font-family: Arial, sans-serif;
    height: 35px;
    padding: 0 12px;
    transition: all 200ms;
    justify-content: space-between;
    margin: 3px;
}
.btn-padrao[type=button]:hover{
    background-color: #b0c4de;
    transform: scale(1.05);
}

#novopost {
    margin: auto;
    height: auto;
    width: 350px;
    text-align: center;
    margin-top: 50px;
    padding: 1%;
    border-radius: 5px;
    border: 8px solid #3065ac;
}
#novopost input[type=submit]{
    background-color: #3065ac;
    border-radius: 7px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #ffffff;
    cursor: pointer;
    display:inline-block;
    font-family: Arial, sans-serif;
    height: 35px;
    padding: 0 12px;
    transition: all 200ms;
    
}
#novopost input[type=submit]:hover{
    background-color: #b0c4de;
    transform: scale(1.05);
}
#novopost textarea{
    border-radius: 5px;
}


